<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>HangMan Game by Francisco Anizio</title>
</h:head>

<h:body style="max-width: 50%; margin: auto; padding: 25px;">

    <h:form id="form">

        <p:graphicImage value="images/hangman0.gif" library="demo " rendered="#{hangmanController.mistakes eq '0' }" />
        <p:graphicImage value="images/hangman1.gif" library="demo " rendered="#{hangmanController.mistakes eq '1' }" />
        <p:graphicImage value="images/hangman2.gif" library="demo " rendered="#{hangmanController.mistakes eq '2' }" />
        <p:graphicImage value="images/hangman3.gif" library="demo " rendered="#{hangmanController.mistakes eq '3' }" />
        <p:graphicImage value="images/hangman4.gif" library="demo " rendered="#{hangmanController.mistakes eq '4' }" />
        <p:graphicImage value="images/hangman5.gif" library="demo " rendered="#{hangmanController.mistakes eq '5' }" />
        <p:graphicImage value="images/hangman6.gif" library="demo " rendered="#{hangmanController.mistakes eq '6' }" />
        <p:graphicImage value="images/hangman7.gif" library="demo " rendered="#{hangmanController.mistakes eq '7' }" />
        <p:graphicImage value="images/hangman8.gif" library="demo " rendered="#{hangmanController.mistakes eq '8' }" />


            <br/>

            <p:commandButton value="Start Game" rendered="#{hangmanController.mistakes eq '0' }" >
                <p:ajax event="click" update="form" listener="#{hangmanController.onInitializeGame}" />
            </p:commandButton>

            <p:commandButton value="Reset Game" rendered="#{hangmanController.mistakes gt 0 }" >
                <p:ajax event="click" update="form" listener="#{hangmanController.onInitializeGame}" />
            </p:commandButton>

            <br/>
            <br/>
            <br/>

            <div>
                <h:outputText id="maskedWord" value="#{hangmanController.maskedWord}" />
            </div>

            <br/>

            <h:outputText
                    rendered="#{hangmanController.gameCompleted}"
                    escape="false"
                    style="display: block; color: green; text-align: center; padding: 20px;"
                    value="Congrats, you guess the word &lt;strong&gt;#{hangmanController.getMaskedWord()}&lt;/strong&gt;"
            />

            <p:panel header="Play now!" rendered="#{not hangmanController.gameCompleted and hangmanController.gameInitialized and hangmanController.mistakes lt 8 }" style="margin-top: 10px;">
                <h:outputText value="Try typing a letter: " />
                <p:inputText value="#{hangmanController.lastEnteredLetter}"  >
                    <p:ajax event="keyup" update="form" />
                </p:inputText>
            </p:panel>

            <br/>
            <br/>

            You have <h:outputText value="#{hangmanController.mistakes}" /> mistakes !




    </h:form>

</h:body>
</html>